body {
    /* gradient */
    background: rgb(240,167,9);
    background: linear-gradient(90deg, rgba(240,167,9,1) 0%, rgba(235,116,6,1) 35%);
    /* fixes background height */
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* font */
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    /* margin */
    margin: 2rem;
}

h1 {
    font-size: 35px;
    margin-bottom: 0;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h5 {
    font-size: 14.8px;
    margin-top: 0;
}

p {
    font-size: 20px;
}

img {
    width: 15em;
}

span {
    font-size: 20px;
    margin-right: 20px;
}

a {
    color: gray
}

input {
    width: 5em;
}

.margin {
    display: inline-block;
    margin-top: 15px;
}

#heresYerTxt {
    opacity: 0;
}

#submit {
    color: white;
    background-color: purple;
    border-radius: 7px;
}

#sig {
    margin: 5px;
    font-family: Courier, monospace;
    font-size: 25px;
    font-weight: bold;
    color: navy;
    text-align: right;
    margin-bottom: 50px;
}

@media screen and (max-width: 600px) {
    img {
        float: none;
    }
}

@media screen and (min-width: 600px) {
    img {
        float: right;
    }
}